<html>
<head>
  <title>Todo List</title>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  <link href="/assets/todo_app.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/assets/todo.js"></script>
  <body>
    <h1>My todo app</h1>
    <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="Add new item..." required/>
      <button type="submit">Add item</button>
    </form>
    <ul>
      <% for(var i=0;i< todos.length;i++){ %>
        <li><%= todos[i].item%></li>
      <%} %>
    </ul>
  </div>
  </body>
</head>
</html>
