<!DOCTYPE html>
<html>
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<% include partial/nav.ejs %>
<body>
  <h1>Welcome to the index of the page!!!</h1>
  <p>Isn't it awesome!!!</p>
</body>

</html>
